body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.footer {
  width: 100%;
  text-align: center;
}

.powered-by {
  padding-top: 10px;
}

.wrap {
  background: var(--primary);
  color: var(--light-primary);
}

a {
  color: var(--light-primary);
}

a:hover {
  color: var(--light-secondary);
}

.footer .footer-bottom {
  height: 50px;
  width: 100%;
  text-align: center;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
}
