* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#myNav {
  margin-bottom: 78.5px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  max-height: 6vh;
  position: fixed;
  top: 0;
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  width: 100%;
  z-index: 1;
}

#logo {
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

#logo a {
  text-decoration: none;
  color: var(--light-primary);
}

#logo a:hover {
  color: var(--gray);
}

#nav-links {
  display: flex;
  letter-spacing: 3px;
  justify-content: space-around;
  width: 40%;
}

#nav-links li {
  list-style: none;
}

#nav-links a:hover {
  color: var(--gray);
  font-weight: bold;
}

#nav-links a {
  cursor: pointer;
  text-decoration: none;
  color: var(--light-primary);
  font-size: 16px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
  #nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  #nav-links {
    width: 60%;
  }
}



@media screen and (min-width: 300px) and (max-width: 530px) {
  #nav-links {
    width: 100%;
    justify-content: space-around;
  }

  #nav-links a {
    font-size: 13px;
  }
}
