.card {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.l-img {
  width: 100%;
  display: block;
  max-height: 200px;
  min-height: 200px;
  cursor: pointer;
}

.card-content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
}

.card-content>p {
  margin-top: 0;
}

.view-article {
  margin-left: 10px;
  cursor: pointer;
}

.card-info {
  display: flex;
  background: #eee;
  font-size: 1.1em;
  border-bottom: 2px solid #ccc;
}

