/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Economica',
    sans-serif;
}


.cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
}

.title {
  text-align: center;
}