<div class="options">
  <button>Breaking News in: <i class="fas fa-caret-down"></i></button>
  <ul class="menu">
    <li><button (click)="getNews('us')">United States</button></li>
    <li>
      <button (click)="getNews('ca')">Canada</button>
    </li>
    <li>
      <button (click)="getNews('mx')">
        Mexico
      </button>
    </li>
    <li>
      <button (click)="getNews('ar')">Argentina</button>
    </li>
    <li>
      <button (click)="getNews('ve')">Venezuela</button>
    </li>
  </ul>
  <h1 class="title">Breaking news in {{ country | countryScan }}</h1>
</div>
<div class="cards" *ngIf="articles">
  <app-card
    *ngFor="let article of articles; let i = index"
    [article]="article"
    (cardChange)="viewDetails($event)"
    [i]="i"
  ></app-card>
</div>
